<html>
<head>
     <title> Sistema Gestão Escolar</title>
     <meta http-equiv="X-UA-Compatible" content="IE-edge">
     <meta name="viewport" content="width=devide-width,initial-scale=1">
    
     <link href="css/bootstrap.min.css" rel="stylesheet">
   
    </head>
    <body>
    <! Inicio do meu formulario -->
        <div class="container">
        <form>
            
             <div class="form-group">
                   <label for="nome"> Nome Completo </label>
                   <input class ="form-control" type="text" id="nome" placeholder="Nome"/>
            </div>
            <div class="form-group"> 
                <label for="endereco"> Endereço </label>
                <input class ="form-control" type="text" id="endereco" placeholder="Endereço"/>
             </div>    
            
            <div class="form-group"> 
                <label for="numero"> Endereço </label>
                <input class ="form-control" type="text" id="numero" placeholder="Numero"/>
             </div>   
            
             <div class="form-group"> 
                <label for="telefone"> Telefone </label>
                <input class ="form-control" type="text" id="telefone" placeholder="Telefone"/>
                </div>  
            
            <div class="form-group">
                <label for="bairro"> Bairro </label>
                 <input class ="form-control" type="text" id="bairro" placeholder="Bairro"/>
              </div>
            
            <div class="form-group">
               <label for="numero"> Numero </label>
               <input class ="form-control" type="int" id="numero" placeholder="Numero"/>
            </div>
            
            <div class="form-group">
             <label for="cep"> CEP </label>
             <input class ="form-control" type="int" id="cep" placeholder="CEP"/>
            </div>
            
            
              <! CRuD formulario -->
            <div class="form-group">
                <input class="btn btn-success" type="submit" value="Salvar" />
                <input class="btn btn-danger" type="submit" value="Excluir" />
                <input class="btn btn-light" type="submit" value="Editar" />

              </div>
                
            </form>              
        </div>
        
    <! Fim do meu formulario -->
        <script src="js/bootstrap.min.js"></script>
        <script src="jquery/._jquery.js"></script>
       
    </body>
</html>
            
          